[package]
name = "map-reduce-core"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = { workspace = true }
rand = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
